<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div align="center">
<h1>Search Test</h1>

<div>
	<form action="getSearchList" id="searchForm">
		<div>
			<select name="searchCategory">
				<option value="writer">작가</option>
				<option value="category">카테고리</option>
				<option value="title">글 제목</option>
			</select>
			<input type="text" name="searchWord">
			<input type="submit" value="검색" id="searchButton">
		</div>
	</form>
</div>

<div style="width: 70%; height:600px; border: 1px solid;" id="getSearchList">

</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#searchButton").click(function(){
		let formData = $("#searchForm").serialize();
		
		$.ajax({
			url:"/getSearchList",
			type:"get",
			data: formData,
			success: function(data){
				alert('success');
			},
			error:function(){
				alert('error');
			}
		});
	});
});


</script>


</body>
</html>